@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: 221, 39%, 11%;
    --foreground: 210 20% 98%;
    --card: 215, 28%, 17%;
    --card-secondary: 217, 19%, 27%;
    --card-foreground: 218, 10.6%, 64.9%;
  }
}
